{strip}
<table class="contentbox" width="{$box_width}">
  <tr> 
    <td width="14" valign="top"  class="header" align="center"><img src="images/arrows_menutopicmax.gif" width="15" height="12" hspace="1" vspace="0" border="0"></td>
    <td width="{$box_width-2*14}" class="header">{$box_title|default:"&nbsp;"}</td>
    <td width="14" class="header" align="right"> 
      <img src="images/menu_topic_help.gif" width="6" height="7" hspace="1" vspace="0" border="0"></div>
	</td>
  </tr>
  <tr> 
    <td colspan="3" class="content">{include file = "$box_content"}</td>
  </tr>
</table>
{/strip}