<table cellspacing="0" cellpadding="0" width="100%" class="content">
  <tr valign="top" class="firstline"> 
    <td  width="16"><a title="Userdetails" href="user.php?action=showdetails&id={$box.userbox.userid}"><img src="images/arrows_user.gif" width="12" height="13" border="0"></a></td>
    <td> <b>{$box.userbox.username} ({$box.userbox.gala}:{$box.userbox.pos})&nbsp;</b></td>
  </tr>
  <tr valign="top" class="line"> 
    <td><img src="images/arrows_data.gif" width="12" height="13" border="0"></td>
    <td><a  title="Passwort ändern" href="user.php?action=changepwd" class="menu">Passwort 
      &auml;ndern</a></td>
  </tr>
  <tr valign="top" class="line"> 
    <td><img src="images/arrows_data.gif" width="12" height="13" border="0"></td>
    <td><a  title="Benutzerdaten bearbeiten" href="user.php?action=settings" class="menu">Einstellungen</a></td>
  </tr>
  <tr valign="top" class="line"> 
    <td><img src="images/arrows_data.gif" width="12" height="13" border="0"></td>
    <td><a  title="Flotte/Verteidigung/Flottenstatus" href="user.php?action=fleet" class="menu">Taktikdaten 
      </a>
    </td>
  </tr>
  <tr valign="top" class="line">
    <td><img src="images/arrows_data.gif" width="12" height="13" border="0"></td>
    <td>
        <a class="menu" href="user.php?action=fleetparser" title="Deff/Flotte/Flottenstatus per Parser updaten">Flottenupdate</a>
    </td>
  </tr>
  <tr valign="top" class="lastline" > 
    <td><img src="images/arrows_delete.gif" width="12" height="13"></td>
    <td><a  title="Ausloggen" href="user.php?action=logout" class="menu">Logout</a></td>
  </tr>
</table>
