<form name="form" method="post" action="admin.php" style="display:inline">
  <input name="send" type="hidden" value="1">
  <input name="ssid" type="hidden" id="ssid" value="{$session.id}">
  <input name="action" type="hidden" id="action" value="addgala">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr class="tbl_5"> 
      <td colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td><b>Galaxie hinzuf&uuml;gen</b><br> <br> </td>
          </tr>
        </table></td>
    </tr>
    {if $errors}
	<tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
		<tr><td>{foreach from=$errors item=error}{$error}<br>{/foreach}</td></tr>
		</table>
    	</td>
			</tr>
	{/if}
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Nummer</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr><td> <input  title="Nummer der Galaxie" name="gala" type="text" class="form{$items.gala.class}" id="gala" value="{$items.gala.value}" size="10" maxlength="10">
            </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
	<tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Allianz</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
						<td> 
							{if $rank < 2}
								<select class="tbl_1" name="allyid" id="allyid">
									{foreach from=$allylist item=item}
										<option value="{$item.aid}" {$item.selected}>{$item.tag}</option>				
									{/foreach}
							  </select>
							{else}
								{$ally}
							{/if}							
          	</td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
		<tr>
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td width="12"><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"><img src="images/arrows_help.gif" width="12" height="13" border="0"></a></td>
            <td><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"> 
              Hilfe </a></td>
          </tr>
        </table></td>
      <td class="tbl_6" height="30" width="70%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td> <a href="{$backlink}"><img src="images/buttons_back.gif" width="61" height="17" border="0"></a>
<input  title="Speichern" type="image" border="0" name="next" src="images/buttons_next.gif" width="61" height="17"> 
            </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr class="tbl_5"> 
      <td colspan="2"> <p><br>
        </p></td>
    </tr>
  </table> 
</form>
