  <table width="100%" cellpadding="0" cellspacing="0">
    <tr class="tbl_5"> 
      <td colspan="2">
				<table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
	          <td><b>Gruppenrechte</b><br> <br>
            <a href="{$backlink}" title="Zurück"><img src="images/buttons_back.gif" width="61" height="17" border="0"></a> 
          </td>
          </tr>
        </table>
			</td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
		<tr> 
      <td class="tbl_6" height="30" width="30%">
				<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
	          <td>
							<ul>
								
              <li><strong>Global</strong> <a href="admin.php?action=editgrouprights&rank=1">Hinzufügen</a></li>
								{foreach from=$rank1 item=group}
	              <li><a href="admin.php?action=editgrouprights&id={$group.gid}&rank=1" class="{if $group.changed}admin{else}menu{/if}">{$group.name}</a> 
                {/foreach} 
                <ul>
                <li><strong>Allianz</strong> <a href="admin.php?action=editgrouprights&rank=2">Hinzufügen</a></li>
									{foreach from=$rank2 item=group}
			              <li><a href="admin.php?action=editgrouprights&id={$group.gid}&rank=2" class="{if $group.changed}admin{else}menu{/if}">{$group.name}</a> 
									{/foreach}
									<ul>
										<li><strong>Galaxie</strong> <a href="admin.php?action=editgrouprights&rank=3">Hinzufügen</a></li>
										{foreach from=$rank3 item=group}
				              <li><a href="admin.php?action=editgrouprights&id={$group.gid}&rank=3" class="{if $group.changed}admin{else}menu{/if}">{$group.name}</a> 
										{/foreach}
									</ul>
								</ul>
							</ul>
						</td>
          </tr>
        </table>
			</td>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
	  <tr class="tbl_5"> 
      <td colspan="2"> <p><br>
        </p></td>
    </tr>
  </table> 
