<form name="form" method="post" action="{$forms.logfile.url}" style="display:inline">
  <input name="subaction" type="hidden" id="subaction" value="search">
  <input name="send" type="hidden" id="send" value="1">
  <input name="ssid" type="hidden" id="ssid" value="{$session.id}">
  <input name="action" type="hidden" id="action" value="{$forms.logfile.action}">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr class="tbl_5"> 
      <td colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td><b>Logfile durchsuchen</b><br> <br> </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Nickname</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="username" type="text" class="form{$forms.logfile.fields.username.bgrd}" id="email" value="{$forms.logfile.fields.username.value}" size="20" maxlength="40">
              {$forms.logfile.fields.username.error}</td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Gala</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="gala" type="text" class="form{$forms.logfile.fields.gala.bgrd}" id="gala" value="{$forms.logfile.fields.gala.value}" size="4" maxlength="4">
              {$forms.logfile.fields.gala.error}</td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Kategorie</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <select class="form" name="cat">
                <option value="0">egal</option>
				{section name=list loop=$catlist}
					
                <option value="{$catlist[list].cat}">{$catlist[list].cat}</option>
				{/section}
              </select></td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td width="12"><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"><img src="images/arrows_help.gif" width="12" height="13" border="0"></a></td>
            <td><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"> 
              Hilfe </a></td>
          </tr>
        </table></td>
      <td class="tbl_6" height="30" width="70%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td> <a href="{$backlink}" title="Zurück"><img src="images/buttons_back.gif" width="61" height="17" border="0"></a> 
              <input type="image" border="0" name="next" src="images/buttons_next.gif" width="61" height="17"> 
            </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr class="tbl_5"> 
      <td colspan="2"> <p><br>
        </p></td>
    </tr>
  </table> 
</form>
