<form name="form" method="post" action="user.php" style="display:inline">
  <input name="send" type="hidden" value="1">
  <input name="ssid" type="hidden" id="ssid" value="{$session.id}">
  <input name="action" type="hidden" id="action" value="orbitmanuell">
  <input name="id" type="hidden" id="id" value="{$id}">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr class="tbl_5"> 
      <td colspan="2">
				<table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td><b>Orbitalverteidigung updaten</b><br> <br> </td>
          </tr>
        </table>
			</td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    {if $errors}
    <tr> 
      <td class="tbl_6" colspan="2">
				<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
				<tr><td>{foreach from=$errors item=error}{$error}<br>{/foreach}</td></tr>
				</table>
    	</td>
		</tr>
		<tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
	{/if}
	<tr>
		<td class="tbl_6" colspan="2">
			<table class="tbl_6"  cellspacing="7" cellpadding="2">
          <tr> 
            <td>Leichtes Orbitalgeschütz "Rubium": </td>
            <td align="center"><input name="rubium" class="form{$items.rubium.class}" type="text" value="{$items.rubium.value}" size="5" maxlength="10"></td>
          </tr>
          <tr> 
            <td>Leichtes Raumgeschütz "Pulsar": </td>
            <td align="center"><input name="pulsar" class="form{$items.pulsar.class}" type="text" value="{$items.pulsar.value}" size="5" maxlength="10"></td>
          </tr>
          <tr> 
            <td>Mittleres Raumgeschütz "Coon": </td>
            <td align="center"><input name="coon" class="form{$items.coon.class}" type="text" value="{$items.coon.value}" size="5" maxlength="10"></td>
          </tr>
          <tr> 
            <td>Schweres Raumgeschütz "Centurion": </td>
            <td align="center"><input name="centurion" class="form{$items.centurion.class}" type="text" value="{$items.centurion.value}" size="5" maxlength="10"></td>
          </tr>
          <tr> 
            <td>Abfangjäger "Horus": </td>
            <td align="center"><input name="horus" class="form{$items.horus.class}" type="text" value="{$items.horus.value}" size="5" maxlength="10"></td>
          </tr>
        </table>
		</td>
  </tr>
	<tr class="tbl_4"> 
		<td colspan="2"><img src="/" width="1" height="1"></td>
	</tr>
	<tr> 
		<td class="tbl_6" height="30" width="30%">
			<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
				<tr> 
					<td width="12"><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"><img src="images/arrows_help.gif" width="12" height="13" border="0"></a></td>
					<td><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"> 
						Hilfe </a>
					</td>
				</tr>
			</table>
		</td>
		<td class="tbl_6" height="30" width="70%">
			<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
				<tr> 
					  <td> 
							<a href="{$backlink}" title="Zurück"><img src="images/buttons_back.gif" border="0"></a> 
              <input name="next" type="image" id="next" src="images/buttons_next.gif" width="61" height="17" border="0"> 
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="tbl_4"> 
		<td colspan="2"><img src="/" width="1" height="1"></td>
	</tr>
	<tr class="tbl_5"> 
		<td colspan="2"> <p><br>
			</p>
		</td>
	</tr>
</table> 
</form>
