<form name="form" method="post" action="user.php" style="display:inline">
  <input name="send" type="hidden" value="1">
  <input name="step" type="hidden" value="1">
  <input name="ssid" type="hidden" id="ssid" value="{$session.id}">
  <input name="action" type="hidden" id="action" value="settings">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr class="tbl_5"> 
      <td colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td><b>Benutzerdaten &auml;ndern</b><br> <br> </td>
          </tr>
        </table></td>
    </tr>
    {if $errors}
	<tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
		<tr><td>{foreach from=$errors item=error}{$error}<br>{/foreach}</td></tr>
		</table>
    	</td>
			</tr>
	{/if}
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Login</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input  title="Login zum Taktikplaner" name="login" type="text" class="form{$items.login.bgrd}" id="login" value="{$items.login.value}" size="20" maxlength="40">
              </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>GN Nickname</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input  title="exacter GN Nickname"name="nick" type="text" class="form{$items.nick.bgrd}" id="nick" value="{$items.nick.value}" size="20" maxlength="40">
              </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Email</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input  title="email Adresse" name="email" type="text" class="form{$items.email.bgrd}" id="email" value="{$items.email.value}" size="20" maxlength="40">
              </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Email sichtbar ?</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="emailvisible" type="radio" value="1" {if $items.emailvisible.value}checked{/if}>
              Ja 
              <input type="radio" name="emailvisible" value="0" {if !$items.emailvisible.value}checked{/if}>
              Nein</td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Telefonnummer</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="phone"  title="Telefonnummer" type="text" class="form{$items.phone.bgrd}" id="email" value="{$items.phone.value}" size="20" maxlength="40">
              </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Scantyp</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="scantype" type="radio" value="0" {$scantype0}>
              Gesch&uuml;tz/Nachrichten 
              <input type="radio" name="scantype" value="1" {$scantype1}>
              Einheiten/Milit&auml;r</td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Scanverstärker</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="svs"  title="Telefonnummer" type="text" class="form{$items.svs.bgrd}" id="svs" value="{$items.svs.value}" size="20" maxlength="40">
              </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Zeitanzeige:</td>
          </tr>
        </table></td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="timeview" type="radio" value="0" {$timeview0}> min <input name="timeview" type="radio" value="1" {$timeview1}> HH:mm
              </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Zweite Flotte:</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1" width="70%" height="30"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> <input name="fleettype" type="radio" value="1" {$fleettype1}> offensiv <input name="fleettype" type="radio" value="2" {$fleettype2}> deffensiv <input name="fleettype" type="radio" value="3" {$fleettype3}> nicht gebaut
              </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td width="12"><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"><img src="images/arrows_help.gif" width="12" height="13" border="0"></a></td>
            <td><a href="javascript:var w=window.open('help.php','_blank','width=320,height=400,resizable=no');"> 
              Hilfe </a></td>
          </tr>
        </table></td>
      <td class="tbl_6" height="30" width="70%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td> <a href="{$backlink}" title="Zurück"><img src="images/buttons_back.gif" width="61" height="17" border="0"></a> 
              <input type="image" border="0" name="next" src="images/buttons_next.gif" width="61" height="17"> 
            </td>
          </tr>
        </table></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr class="tbl_5"> 
      <td colspan="2"> <p><br>
        </p></td>
    </tr>
  </table> 
</form>
